@Model Models.InfoEntryViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div style="position:absolute; right:30px; top:80px;">
        <button type="button" class="animatedButton" onclick="@("window.location.href='" + @Url.Action("Start", "Roll") + "'");" style="margin-top:20%; height:70px; background-color:#4e9bda; color:white;">Back</button>
    </div>
    @using (Html.BeginForm("InfoEntry", "Roll"))
    {
        <div class="inputs">
            @{int i = 0; string display = "block"; string width = "";}
            @foreach (var item in Model.inputs)
            {
                if (item.InputType == "SELECT")
                {
                    if (item.input.hidden == true)
                    {
                        display = "none";
                    }
                    if (item.input.width != null && item.input.width.Length > 0)
                    {
                        width = "width: " + item.input.width + " !important;"; 
                    }
                    <div id="div_@item.input.id" style="margin-top:20px; display: @display;" margin-bottom:20px;">
                        <select id="@item.input.id" style="width:100%;" name="@("[" + i + "].value")">
                            @if (item.input.value.Trim().Length == 0)
                            {
                                <option value="" disabled selected></option>
                            }                        
                            @foreach (var option in @item.input.options)
                            {
                                if (item.input.value == option.value)
                                {
                                    <option selected value="@option.value">@option.text</option>
                                }
                                else
                                {
                                    <option value="@option.value">@option.text</option>
                                }

                            }
                            <option value="Other">Other</option>
                        </select>
                        <input type="hidden" name="@("[" + i + "].id")" value="@item.input.id" />
                    </div>
                }
                else
                {
                    <input type="@item.input.inputtype" class="input" id="@item.input.id" placeholder="@item.placeHolder" name=@("[" + i + "].value") value="@item.input.value" />
                    <input type="hidden" value="@item.input.id" name=@("[" + i + "].id") />
                }

                if (item.errorFlag == true)
                {
                    <label id="err_@item.input.id" style="color:rgba(243, 49, 49, 0.92); font-size:large; font-style: italic; margin-top:20px;">@item.errorMessage</label>
                }
                i++;
            }

            <button id="SubmitInfo" class="animatedButton" style="position:relative; float:right; top:60px; right:-20px; background-color:#9a9898; height:100px; color:white;" type="submit">Submit And <br /> Enter Weaver(s)</button>
        </div>
    }

</div>

@Scripts.Render("~/bundles/jquery")
<link type="text/css" href="~/Content/select2.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/select2.js"></script>
<style type="text/css"> 
    #div_RM_XrefId { 
        margin-top: 70px !important;
    }
    #IDThreadColor { 
        width: 70% !important;
    }
</style>
<script type="text/javascript">

    $(function () {
        $(".jumbotron").css("height", (screen.height + 250) + "px");
        $("#LoomNumber").focus();
        var rmtable = @Html.Raw(Json.Encode(Model.rmtable));

        $("#RM_XrefId").select2({
            placeholder: "What is the RMNumber?"
        }); 
        $("#IDThreadColor").addClass("input"); 
        var refColor = ""; 
        $("#RM_XrefId").change(function (a) {
            var val = a.target.value.trim(); 
            console.log(a); 
            $.each(rmtable, function(key, value) { 
                if (value.Id == val) { 
                    refColor = value.IDThreadColor.trim(); 
                    $("#RMNumber").val(value.RMout);
                    switch(value.IDThread) { 
                        case true: 
                            $("#div_IDThreadColor").css("display", "block"); 
                            break;
                        case false: 
                            $("#div_IDThreadColor").css("display", "none"); 
                            break; 
                    }
                    return;
                }
            }); 
        });

        $("#IDThreadColor").change(function (a) { 
            var val = a.target.value.trim(); 
            if (val != refColor) { 
                $("#err_IDThreadColor").text("WARNING: Color chosen does not match referenced RM Color " + refColor);
            } else { 
                $("#err_IDThreadColor").text(""); 
            }
        });
    });
    
    $(document).keypress(function (e) {
        if (e.which == 13) {
            $("#SubmitInfo").trigger('click');
        }
    });
</script>

